.nav {
    grid-area: nav;
    background-color: #EDEEF0;
    padding: 20px;
}
/*.item {*/
/*    text-decoration: none;*/
/*}   color: black;*/
/*  */

.item a.active {
    color: royalblue;
}

.item a {
    color: black;
    text-decoration: none;
}

