.app-wrapper {
    display: grid;
    width: auto;
    margin: 0 auto;
    grid-template-areas:
          "header header"
           "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 5fr;

}

.header {
    grid-area: header;
    background-color: yellow;
}

.header img {
    width: 20px;
}

.nav {
    grid-area: nav;
    background-color: darkred;
}


.content {
    grid-area: content;
    background-color: green;
}

.content img {
    height: auto;
    width: 100%;
}